
 


<!-- ============== -->
<!DOCTYPE html>
<html>

<head>
    <title>MyCamp - مخيمي</title>
        <link rel="shortcut icon" type="image/png" href="https://i.top4top.io/p_1732mua0y1.png">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css">

    <link rel="stylesheet" href="/stylesheets/landing.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"
        async></script>
</head>

<body>

    <div class="container">
        <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
        <% } %>
        <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
        <% } %>
    </div>

    <div class="fontar"id="landing-header">
        <h1>مرحباً بكم في موقع مخيمي</h1>
        <p class="xxx">(الموقع تحت الأطـلاق التجريبي)</p>
        <a href="/campgrounds" class="btn btn-lg btn-light "> مشاهدة كل المخيمات</a>
        
    </div>

    





    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

<%- include("partials/footer") %>

