<!-- <%- include("partials/header") %>


<h1>register</h1>





<input type="text" name="username" placeholder="username">
<input type="password" name="password" placeholder="Password">

<button>Sign Up!</button>

</form>

<%- include("partials/footer") %> -->


<!-- ======================================================================================================= -->